<nav class="navbar navbar-expand-lg navbar-light " style="background-color: cadetblue;">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <img src="assets/HMS_logo.png" alt="Logo" width="150" height="100" class="d-inline-block align-text-top">
     
    </a>

  

    <!-- Menu items -->
    <div class="collapse navbar-collapse" id="navbarNav">
      @if (authService.isLoggedIn()) {
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLinkActive="active" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" routerLinkActive="active" routerLink="/patient" >Patient</a> -->
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/patient']">Patient</a>
        </li>
        <!-- <li class="nav-item"> -->
          <a class="nav-link" routerLinkActive="active" routerLink="/doctor" >Doctor</a> 
        <!-- <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/appointment">Appointment</a>
        </li> -->
       
      </ul>
      }
      <!-- Login / Logout buttons -->
      <div class="d-flex right">
        @if (authService.isLoggedIn()) {
           <span class="me-3 fw-bold">Welcome, {{ authService.getUsername() }}!</span>
        <!-- <span class="text-white bg-dark ">Welcome, {{ authService.getUsername() }}!</span> -->
        <button class="btn btn-danger" (click)="logout()" type="button">Logout</button>
        }
        <!-- @else{
        <button class="btn btn-outline-primary me-2" type="button">Login</button>
        } -->


      </div>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>